.display-result-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }
  
  .election-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* max-width: 1200px; */
    margin-bottom: 40px;
  }
  
  .election-table-container {
    flex: 1;
    max-width: 25%;
    text-align: center;
    margin-right: 2%;
  }
  
  .election-date {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .result-heading {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
  }
  
  .result-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 0 auto;
  }
  
  .result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .result-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .result-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .graph-container {
    flex: 1;
    
    text-align: center;
  }
  
  .graph-heading {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .graph-wrapper {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .graph-wrapper:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .previous-election-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .previous-election-result {
    width: 80%;
    margin: 20px 0;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .previous-election-date {
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }
  
  .previous-result-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
    border: 1px solid #ddd;
  }
  
  .previous-result-table th, .previous-result-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .previous-result-table th {
    background-color: #e9e9e9;
    font-weight: bold;
  }
  
  .previous-result-row:hover {
    background-color: #ececec;
    cursor: pointer;
  }
  
  .previous-result-row td:first-child {
    text-align: left;
    padding-left: 15px;
  }
  
  .previous-result-row td:last-child {
    text-align: right;
    padding-right: 15px;
  }
  .previous-election-chart-h1{
    margin-top: 26px;
  }