
.form-center {
  position: relative;
  left: 35%;
  margin-top: 6%;
  

  
}



.input-field {
  width: 30%;
  height: 5vh;
  display: block;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.generate-otp-button {
  width: 10%;
  display: inline-block;
  margin: 2%;
  margin-left: 10%;
  background-color: #0055a5;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

#otp {
  width: 15%;
  height: 5vh;
  border-radius: 0px;
}

.verify-otp {
  position: relative;
  
}

.verify-otp-button {
  margin-left: 62px;
  padding: 4px;
  width: 7%;
  background-color: #0055a5;
  border-radius: 10px;
}

#resend-password-otp {
  border: none;
  background-color: #ffffff00;
}

.password-timer {
  margin: 10px;
  font-size: small;
}

.set-password {
  display: none;
}

.submit-password {
  margin-top: 10px;
 background-color:#0055a5 ;
 padding: 5px;

}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  
}
button:hover:not(:disabled) {
  background-color: #0055a5;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
 
}